@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  gap: 10px;
  list-style: none;
  margin-right: 30px;
  text-decoration: none;
  
}

a{
text-decoration: none;
color: rgb(77, 76, 76);
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 15px;
  
}

.buttons{
 display: flex;
 gap: 10px;
}

ustify-self: baseline;
input {
  border: 1px solid #ddd;
  padding: 8px 24px;
  width: 400px;
  background-color: #fff;
  border-radius: 50px;
  
}

.footer{
  display: flex;
 
  background-color: #eee;
  
}
.right-links{
  margin-left: auto;
}