
.para{
  font-size: 30px;
  font-weight: 700;
}

.small-para{
  font-size: 14px;
  font-weight:800;
}


#confirm-button{
  background-color: green;
  color: white;
  font-weight: 700;
}

.text{
  font-size: 22px;
}

.child{
  font-weight: 700;
  font-size: 14px;
}